body {
	font-family: "Chelsea Market", cursive;
}

div.list-wrapper ul {
	list-style-type: none;
}

div.list-wrapper ul li {
	border-bottom: 1px solid greenyellow;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
}

#app {
	height: 80vh;
	width: 80vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
